.deps
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
install-sh
missing
/compile
/src/*.o
stamp-h1
depcomp
Makefile
TAGS
tags
doc/pdfgrep.1
doc/pdfgrep.html
/src/pdfgrep
/src/.dir-locals.el
/src/GPATH
/src/GRTAGS
/src/GTAGS
/testsuite/site.exp
/testsuite/pdfgrep.sum
/testsuite/pdfgrep.log
/testsuite/generated_pdfs
/testsuite/site.bak

# coverage files
/coverage_report
/src/*.gcda
/src/*.gcno
